    <style>

    div.img {
        float: left;
        position: relative;
        margin: 5px;
    }
    div.img .details {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        text-align: center;
        overflow: hidden;
        color: #FFF;
    }
    div.img .details .wrap {
        margin: 3px;
        position: relative;
        z-index: 2;
    }
    div.img .details a {
        color: #FFF;
    }
    .scrubber .loading-bar {
        background: rgba(223, 240, 216, 0.8);
        width: 0%;
        height: 100%;
        position: absolute;
        z-index: 1;
    }
    </style>
    <script>
    $(document).imgScrubber({
        delegate: "div.img"
    });
    </script>

<div class="img scrubber" data-slug="okumura-masanobu">
  
  <!-- all images -->     
  <a class="img" href="http://ukiyo-e.org/artist/okumura-masanobu">
        
  <!-- cover image -->
  <img src="http://data.ukiyo-e.org/loc/thumbs/02171v.jpg" alt="Okumura Masanobu"/></a>
  <div class="details">
    <div class="wrap">
    <!-- name of the place -->
    <a class="artist" href="http://ukiyo-e.org/artist/okumura-masanobu" title="Okumura Masanobu">Okumura Masanobu</a> 
    (490)
    </div>
  </div>
</div>
        
        