<!-- At the bottom of your page but inside of the body tag -->
<ol class="joyride-list" data-joyride>
  <li data-button="Okay" data-text="Next" data-options="tip_location: top">
    <h4>Welcome to Localist!</h4>
    <p>Let me show you around real quick.</p>
  </li>
  <li data-id="intro1" data-class="custom so-awesome" data-text="Next" class="recommendation_tip">
    <h4>Recommendations</h4>
    <p>This is where you'll find recommendations for cool places. We personalize them based on your places, so you'll need to add some to your lists.</p>
  </li>
  <li data-id="intro2" data-button="Next" data-options="tip_location:bottom;tip_animation:fade">
    <h4>Make Lists</h4>
    <p>This is where you create and manage your lists. Make as many as you want!</p>
  </li>

  <li data-id="intro3" data-button="Next" data-options="tip_location:bottom;tip_animation:fade" class="addplaces_tip">
    <h4>Add Places</h4>
    <p>Adding places to lists is easy. Just click on this button to search for a place on the map.</p>
  </li>

  <li data-id="intro4" data-button="Next" data-options="tip_location:bottom;tipAdjustmentX:250;nub_position:right;tip_animation:fade">
    <h4>Filters</h4>
    <p>Toggle which lists you want to see on the map.</p>
  </li>


  <li data-button="End">
    <h4>Your turn</h4>
    <p>Have fun making lists and discovering places!</p>
  </li>
</ol>