<div class="listcontainer">
  <p class="list-title">
    <%= link_to list.name, new_list_place_path(:list_id => list.id), :class =>'list_name', id: '#{list.id}' %>   
    <%= render 'buttons', :list => list %>
  </p>
  <div class="placecontainer">
    <ul class="places">
      <% list.places.each do |place|  %>
        <li class="place"> 
          <%= link_to place.name, list_place_path(:list_id => list.id, :id => place.id),  data: {url: "(#{place.lat},#{place.long})"} %>
          <%= render 'places/buttons', :place => place, :list => list %>
        </li>
      <% end %>  
    </ul>
  </div>
</div>

      

