<div id="splash">
  <div id="splash-cover">
    <h1 id="main" class="white">LOCALIST</h1>
    <ul id="taglines">
      <li class="hidden"><h2 id="tagline" class="white"> Curate your favorite local spots </h2></li>
      <li class="hidden"><h2 id="tagline" class="white"> Get personalized recommendations </h2></li>
      <li class="hidden"><h2 id="tagline" class="white"> Discover hidden gems </h2></li>
    </ul>
      <div class="center flip">
        <div class="card">
          <div class="center signin-container form">
            <%= render 'devise/sessions/new' %>
          </div>

          <div class="center signup-container form">
            <%= render 'devise/registrations/new' %>
          </div>
        </div>
      </div>
   
  </div>  
</div>

<!-- FLIP EFFECT -->
<script type="text/javascript">
  $('#signup').click(function(e){
    e.preventDefault(); 
    $('.flip').find('.card').addClass('flipped').mouseleave(function(){
      $('.flip').removeClass('flipped');
    });
    return false;
  });

  $('#signin').click(function(e){
    e.preventDefault(); 
    $('.flip').find('.card').removeClass('flipped').mouseleave(function(){
    $('.flip').addClass('flipped');
  });
  return false;
});

</script>