html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px
}
.controls {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  padding: 0 11px 0 13px;
  width: 75.5%; // EDITED
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
  height: 40px;
  margin-left: 5%;
}

#pac-input:focus {
  border-color: #3887BE; // EDITED
  margin-left: 5%;
  padding-left: 14px;  /* Regular padding-left + 1. */
  // width: 401px; 
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #519EB5;
  padding: 5px 11px 0px 11px;
  display: none; // EDITED
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

// MY STYLES
.gm-style-mtc { // The map/satellite options in the upper right corner
  display: none;
}

#place-submit {
  position: relative;
  left: 80%;
  width: 80px;
  height: 40px;
  margin: 16px 16px 0px 16px;
  background-color: #518A9C;
  border: none;
  color: white;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  cursor: pointer;
  border-radius: 0;
  &:hover {
    background-color: rgba(81,138,156,0.8);
  }
}