$darkTeal: #518A9C;
$lightTeal: #A9CED9;
$grayButton: #EDEDED;
$mainFont:  'Open Sans', sans-serif;
$titleFont: 'Roboto Slab', serif;
// $titleFont: 'Alegreya Sans SC', sans-serif;
// $titleFont: 'PT Serif Caption', serif;

// $titleFont: 'Glegoo', serif; 

// GENERAL STYLES

.hidden {
  display:none;
}


body {
  margin-top: 70px;
  font-family: $mainFont;
  font-size: 11pt;
}


// TEXT STYLES

ul {
  font-family: $mainFont;
  font-size: 11pt;
  padding: 10px;
}

li {
  padding: 5px;
}

a {
  text-decoration: none;
}

h1 {
  font-family: $titleFont;
  text-transform: uppercase;
  letter-spacing: 2px;
  &.logo {
    font-size: 14pt;
    font-weight: 300;
  }
}

h3 {
  font-family: $titleFont;
}




.list-title {
  font-family: $titleFont;
  font-size: 12pt;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

a, a:visited {
  color: black;
  &:hover {
    color: $darkTeal;
    background: none;
  }
}

button.command {
  background: none;
  border: none;
  color: white;
  padding: 0px 10px; 
  font-family: $titleFont;
  font-size: 14pt;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 0;
  
}



// SCAFFOLDING

nav {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 0px 10px;

}
.pull-left{
  float: left;
  display: inline-block;
}

.pull-right{
  float: right;
  display: inline-block;
}

.sidebar {
  position: absolute;
  float: left;
  display: inline-block;
  top: 80px;
}

.listcontainer { // holds all lists
  padding: 10px 30px;
  position: relative;
  overflow: auto;
  box-sizing: border-box;
  background-color: #F5F5F5;
}

.box { // each list box
  display: inline-block;
  width: 23%;
  min-width: 200px;
  box-sizing: border-box;
  float: left;
  margin: 1%;
  padding: 5px;
}

.placecontainer {
  background-color: white; 
  min-width: 100px;
}

.container {
  padding: 0px 30px;
}

// FILTERS
#filters li {
  list-style: none;
  display: inline-block;
  margin: 3px;
  padding: 8px 10px 8px 10px;
  background-color: $grayButton;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  &.selected{
    background-color: $lightTeal;
  }
}

// LIST STYLES

ul.places li {
  list-style: none;
}

.nav li {
  list-style: none;
  display: inline-block;
  padding: 3px 8px 3px 8px;
}
