<!-- THIS MODAL SHOWS WHEN U CLICK ON A PLACE -->
  
    <h3><%= @place.name %></h3>
    <div class="row">
      <div class="large-12 columns">
        <% if @place.photos.length > 0 %> <% photos = @place.photos.map {|photo| photo.url } %>
          <div class="largephoto-container img scrubber">
            <img src=<%= @place.photos[0].url %> class="large">
            <div class="photoarray" data-photos= "<%=photos %>">  </div>
            <div class="details">
              <div class="wrap">
                <%= "#{@place.photos.length} photos" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <a class="close-reveal-modal">&#215;</a>
  