<nav>
  <div class="center">
    <h1 class="logo" ><%= link_to "The Localist", :root %> </h1>
    <ul class="nav">
    <% if user_signed_in? %>
      <li> <%= link_to 'DISCOVER', discover_path %></li>
      <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
    <% else %>
      <li><%= link_to 'Sign in', new_user_session_path %></li>  
    <% end %>
    </ul>
  </div>

  <div class="pull-right">
    
  </div>
</nav>